<%- include('../template/header') %>
  <div class="dashboard">
    <div class="header">
      <h1>
        <%= title %>
      </h1>
      <%- include('./nav') %>
    </div>

  </div>

<%- include('../template/footer') %>
