<%- include('../template/header') %>

  <h1>
    <%- title %>
  </h1>

  <form class="login" action="/login" method="post">
    <div class="">
      <input type="text" name="username" value="" placeholder="账号">
    </div>
    <div class="">
      <input type="password" name="password" value="" placeholder="密码">
    </div>
    <input type="submit" value="登录">
  </form>

<%- include('../template/footer') %>
